.helpContainer {}
.helpTextArea {
  height: 48px;
  display: flex;
  justify-content: space-between;
  margin: 16px;
  padding-top: 8px;
}
.helpImageContainer {
  width: 100%;
  margin-top: 8px;
  margin-bottom: 40px;
}
