:root {
  --heavyBackground: yellow;
  --lightBackground: lightyellow;
  --standardBackground: white;
}
.headerContainer {
  z-index: 999;
}
.userNameArea {
  margin-left: 8px;
  display: flex;
  font-weight: 300;
}
.titleArea {
  height: 48px;
  z-index: 2000;
  background-color: var(--lightBackground);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.syncMessageArea {
  position: absolute;
  top: 40px;
  height: 28px;
  width: 100%;
  z-index: 2000;
  background-color: var(--lightBackground);
  text-align: right;
}
.contentArea {
  position: absolute;
  top: 40px;
  z-index: 1000;
  min-height: 100px;
  width: 100%;
  background-color: var(--standardBackground);
}
.menuArea {
  margin-top: 12px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.syncContainer {
  padding-right: 4px;
}
.icons {
  margin-right: 4px;
}
.statusIcon {
  position: relative;
  top: -6px;
  right: -2px;
  z-index: 100;
}
.hamburgerIconButton {
  border: 2px solid;
}
.clubIdText {
  margin-left: 4px;
  transform: rotate(270deg);
  color: darkgreen;
  font-weight: bold;
}
.clubIdTextColor {
  color: darkblue;
}
