:root {
    --action: orange;
}

.messagesContainer {
    position: absolute;
    top: 80px;
    right: 0;
    z-index: 1000;
    width: 10%;
    min-height: 300px;
    height: 90%;
    overflow-y: scroll;
    padding: 16px;
    transition: width 300ms;
}
.wide {
    width: 90%;
}
.messagesList {
    width: 100%;
}
.messageLine {
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
}
.readMessageBox {
    margin-top: 4px;
    padding: 4px;
    border: 1px solid var(--action);
    border-radius:4px;
}
