:root {
  --warning: red;
}

.helpIconContainer{
  height: 32px;
  display: flex;
  align-items: center;
  padding-left: 8px;
}
.walksContainer {
  margin-top: 8px;
  overflow-y: auto;
}
.makeWalkContainer {
  position: absolute;
  top: 80px;
  right: 0;
  z-index: 1001;
  width: 10%;
  min-height: 300px;
  height: 90%;
  overflow-y: scroll;
  padding: 16px;
  transition: width 300ms;
}
.blackBorder {
  border: 2px solid black;
}
.walkHistoryContainer {
  position: absolute;
  top: 80px;
  right: 0;
  z-index: 1001;
  width: 10%;
  min-height: 300px;
  height: 90%;
  overflow-y: scroll;
  padding: 16px;
  transition: width 300ms;
}
.wide {
  width: 90%;
}
.addNewWalker {
  width: 100%;
  height: 100%;
  top: 0;
}
.popoverContainer {
  display: flex;
  align-items: center;
}
.listItemContainer {
  position: relative;
  width: 100%;
  max-height: 80%;
  min-height: 50px;
  overflow-y: visible;
  padding: 0 16px;
}
.registerWalksList {
  width: 100%;
}
.registerWalksItem {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 8px;
}
.walkItem {
  display: flex;
  align-items: center;
  width: 70%;

}
.walkTitleBadgesDate {
  max-width: 90%;
  margin-right: 2px;
}
.walkTitleBadges {
  overflow-x: auto;
}
.walkTitle {
  white-space: nowrap;
}
.walkTitleExpected {
  opacity: 60%;
}
.badgeText {
  display: flex !important;
  align-items: center;
  width: fit-content;
}
.walkerDetails {
  border: 1px solid var(--warning);
  border-radius: 4px;
  padding: 4px;
  margin-right: 24px;
}
.startBtnsContainer {
  height: 72px;
}
.moreOptionsLeaders {
  justify-content: flex-end;
  margin-bottom: 8px;
}
.noPadding {
  padding: 0;
}
.dropzone {
  border: 1px dotted red;
}
.dateButton {
  width: 100% !important;
  justify-content: flex-start !important;
  font-weight: 400 !important;
}
.dateButtonHalf {
  width: 50% !important;
  justify-content: flex-start !important;
  font-weight: 400 !important;
}
.dateToday {
  font-weight: bold !important;
  font-size: 140% !important;
  text-decoration: underline !important;
}
.datePickerContainer {
  display: flex;
  justify-content: center;
}
.redBorder {
  border: 2px solid var(--warning);
  border-radius: 4px;
}
.sideBorderColor {
  border-left: 3px solid red;
}
