/*:root {*/
/*    --warning: red;*/
/*}*/

.makePlbContainer {
    width: 100% !important;
}
.addPlbContainer {
    float: right;
    margin-bottom: 8px;
}
.registerPlbsList {
    width: 100%;
}
.registerPlbsItem {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 8px;
}

/*.makeWalkContainer {*/
/*    position: absolute;*/
/*    top: 80px;*/
/*    right: 0;*/
/*    z-index: 1001;*/
/*    width: 10%;*/
/*    min-height: 300px;*/
/*    height: 90%;*/
/*    overflow-y: scroll;*/
/*    padding: 16px;*/
/*    transition: width 300ms;*/
/*}*/
/*.walkHistoryContainer {*/
/*    position: absolute;*/
/*    top: 80px;*/
/*    right: 0;*/
/*    z-index: 1001;*/
/*    width: 10%;*/
/*    min-height: 300px;*/
/*    height: 90%;*/
/*    overflow-y: scroll;*/
/*    padding: 16px;*/
/*    transition: width 300ms;*/
/*}*/
/*.wide {*/
/*    width: 90%;*/
/*}*/
/*.addNewWalker {*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    top: 0;*/
/*}*/
/*.popoverContainer {*/
/*    display: flex;*/
/*    align-items: center;*/
/*}*/
/*.listItemContainer {*/
/*    position: relative;*/
/*    width: 100%;*/
/*    max-height: 80%;*/
/*    min-height: 100px;*/
/*    overflow-y: auto;*/
/*    padding: 0 16px;*/
/*    border: 3px solid red;*/
/*}*/
/*.badgeText {*/
/*    display: flex !important;*/
/*    align-items: center;*/
/*    width: fit-content;*/
/*}*/
/*.walkerDetails {*/
/*    border: 1px solid var(--warning);*/
/*    border-radius: 4px;*/
/*    padding: 4px;*/
/*    margin-right: 24px;*/
/*}*/
/*.startBtnsContainer {*/
/*    height: 72px;*/
/*}*/

/*.noPadding {*/
/*    padding: 0;*/
/*}*/
/*.dropzone {*/
/*    border: 1px dotted red;*/
/*}*/
/*.dateButton {*/
/*    width: 90% !important;*/
/*    justify-content: flex-start !important;*/
/*    font-weight: 400 !important;*/
/*}*/
/*.dateToday {*/
/*    font-weight: bold !important;*/
/*    font-size: 140% !important;*/
/*    text-decoration: underline !important;*/
/*}*/
/*.datePickerContainer {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*}*/
