body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.appContainer {
  width: 100vw;
  height: 100vh;
  margin: 0;
}
.mainContentContainer {}
.secContentContainer {}

/* Large screen changes */
@media screen and (min-width: 1000px) {
  body {
    height: 100%;
  }
  .wide {
    width: 100%;
  }
  .syncMessageArea {
    position: inherit;
  }
  .appContainer {
    width: 90vw;
    max-width: 1000px;
    height: 90vh;
    margin: 5%;
    border: 1px solid;
  }
  .mainContentContainer {
    display: flex;
    width: 100%;
    height: 94%;
  }
  .secContentContainer {
    position: relative;
    flex-grow: 1;
  }
  .walksContainer {
    width: 500px;
  }
  .makeWalkContainer {
    top: inherit;
    right: inherit;
    height: 100%;
    max-width: 500px;
  }
  .walkHistoryContainer {
    top: inherit;
    right: inherit;
    height: 100%;
    max-width: 500px;
  }
  .userNameArea {
    position: relative;
  }
  .messagesContainer {
    top: 36px;
    left: 180px;
    height: 85vh;
    width: 500px;
  }
  .adminTasksContainer {
    position: absolute;
    top: 140px;
    left: 7%;
    width: calc(1000px - 7%);
    height: 80%;
    overflow-y: scroll;
    padding: 16px;
  }
}
